<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kiu.dev.merryweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".di.BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/img_mw"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/img_mw"
        android:supportsRtl="true"
        android:theme="@style/Theme.MerryWeather.Splash"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MerryWeather.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="dev.kyu.main.ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MerryWeather"/>

        <!-- Small Widget Provider -->
<!--        <receiver-->
<!--            android:name=".ui.widget.SmallAppWidgetProvider"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/appwidget_info" />-->
<!--        </receiver>-->
    </application>

</manifest>